$primary-color: #FFEFE7;
$secondary-color: #FFDAC6;
$tertiary-color: #BABD8D;
$primary-text-color: #7C6A0A;
$quaternary-color: #FA9500;
$font-stack: "IBM Plex Sans", sans-serif;
$paragraph-size: 1.2rem;

@mixin flexCenter($direction,$content,$align){
	display: flex;
	flex-direction: $direction;
	justify-content: $content;
	align-items: $align;
}

@mixin buttonStyle{
	button{
		background: none;
		border-style: none;
	}
}

body {
    margin: 0;
    padding: 0;
    background-color: $primary-color;
    font-family: $font-stack;
}

nav {
    width: auto;
    height: 70px;
    @include flexCenter(row, space-between, center );
    color: $primary-text-color;
    padding: 15px;

    p {
        font-size: $paragraph-size;
        padding-left: 20px;
    }

    .icons {   
        display: flex;
        gap: 10px;
        @include buttonStyle();
        // button {
        //     background-color: transparent;
        //     // border: 0px;
        //     border-style: none;
        // }
    }
}

article {
    color: $primary-text-color;
    width: auto; // igual espacio a la izquierda y derecha
    padding-left: 40px;
    padding-right: 40px;
    // background-color: rgb(255, 172, 172);
    display: flex;
    justify-content: space-between;

    .impact-section {
        // background-color: whitesmoke;
        width: 50vw;

        h1 {
            font-size: 1.8em;
        }
        p {
            font-size: $paragraph-size;
            margin-bottom: 65px;
        }
        button {
            @include flexCenter(row, center , center );
            // @include buttonStyle();
            background-color: $quaternary-color;
            border: 0px;
            border-radius: 50px;
            padding: 0.8rem;
            color: white;
            width: 150px;
            margin-bottom: 65px;
            &:hover {
                transform: scale(1.1);
                transition: 0.3s;
                cursor: pointer;
            }
            img {
                padding-left: 7px;
                height: 18px;              
            }
        }
    }

    .image-section {
        width: 50vw;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        // background-color: #FFDAC6;
        img{
            width: 25vw;
            height: 100%;
            border-radius: 8px;
            // object-fit: contain;
            // object-fit: cover;
         }       
    }
}
   


main {
    background-color: $primary-color;
}

section{
	width: auto;
	height: auto;
	padding: 30px;
	h2{
		color: $primary-text-color;
		font-size: 2em;
	}
	.healthcare{
		padding-bottom: 60px;

        h2{
            font-weight: bold;
            font-size: 2em;
            margin: 0;
            padding-bottom: 60px;
            // padding-bottom: 30px;
        }
		.card-section{
			width: auto;
			height: auto;
			@include flexCenter(row,space-evenly,center);
            // flex-wrap hace que no se haga el scroll y las cards pasan a estar debajo, sin necesidad de display flex
			flex-wrap: wrap; 
			column-gap: 130px;
			row-gap: 80px;
		
            .product-card{
                width: 17vw;
                height: 45vh;
                background-color: $secondary-color;
                color: $primary-text-color;
                padding: 14px;
                border-radius: 8px;
                .icon{
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                    padding-bottom: 8px;
                    svg{
                        width: 20px;
                        height: 20px;
                        path {
                            stroke: salmon;
                        }
                    }
                }
                .product-image{
                    width: 100%;
                    height: auto;
                    margin-bottom: 8px;

                    @include flexCenter(row, center , center );
                    // display: flex;
                    // justify-content: center;
                    // align-items: center;
                    img{
                        width: 12vw;
                        height: 30vh;
                        object-fit: cover;
                        border-radius: 6px;
                    }
                }
                h3{
                    font-weight: bold;
                    font-size: 16px;
                    margin-bottom: 6px;
                    // padding: 0;
                    padding-left: 22px;
                    // padding-bottom: 30px;
                }
                p {
                    padding-left: 22px;
                    margin: 0;
                    font-size: 0.7rem;
                }
		    }
	    }
    }

	.furniture{
		@extend .healthcare;
		.card-section .product-card{
			background-color: $tertiary-color;
			color:white;
         
		}
	}
}

.about-us{
	padding-bottom: 60px;
    // width: 80%;
    width: auto;

	h2{
		font-weight: bold;
		padding-bottom: 60px;
	}
	.mission-section{
		@include flexCenter(row,space-evenly,center);

		.earth{
			$text-color: #E86424;
			width: 100%;
            height: 150px;
			display:flex;
			// gap: 20px;
			color: $text-color;
			img {
                width: 30%;
                height: 120px;
				object-fit: contain; //esta propiedad conserva el aspect ratio/proporcion de las imagenes sin recortar.
            // object-fit: contain; // esta expresion hace que la imagen se expanda dentro de la caja con un autoajuste				
			}
			p {
				text-align: center;
				font-size: $paragraph-size;
			}
		}
	}
	.innovation{
		@extend .earth;      
	}
}
.gallery{
	h2{
		font-weight: bold;
		padding-bottom: 60px;
	}
	.gallery-images{
		@include flexCenter(row, center ,center);
        gap: 10px;
		img{
			// width: 32vw;
			// height: 45vh;
            width: 100%;
            height: 250px;
			object-fit: cover; // esta expresion hace que la imagen se expanda dentro de la caja con un autoajuste
            // object-fit: contain: //esta propiedad conserva el aspect ratio/proporcion de las imagenes sin recortar.
			object-position: 5px 50%;
			border-radius: 16px;
			&:hover{
				transform: scale(1.1);
                transition-duration: 0.3s;
			}
		}

	}
}

.location{
	$text-color: #E86424;
	color: $text-color;
	h2 {
		padding-bottom: 60px;
		padding-top: 60px;
	}
	.map { 
		@include flexCenter(row, center ,center);
		padding-bottom: 50px;
        img {
            width: 100%;
        }
	}
	h3, p {
		font-size: $paragraph-size;
	}
}

footer{
    margin: 0;
	background-color: $quaternary-color;
	width: 100%;
	height: auto;

    .footer-container {
        padding: 40px;
    }
	// padding: 40px;
	color:white;
	.social-media{
		@include flexCenter(row,center,center);
		gap:40px;
		padding-bottom: 40px;

	}
}

// footer{
//     $background: $quaternary-color;
//     background-color: $background;
//     width: 100%;
//     height: 250px;
// }